<ion-header>
  <ion-toolbar>
    <ion-title><h1>ตระกร้าสินค้าของคุณ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-row>
      <ion-col size="12" *ngFor="let estate of carts; let i = index">
        <ion-card (click)="onClickEstate(estate)">
          <img [src]="estate.imgUrl" />
          <div padding>
            <p>ชื่อโครงการ : {{estate.name}}</p>
            <p>รายละเอียด : {{estate.detail}}</p>
            <p>ประเภท เช่า/ขาย : {{estate.sellType}}</p>
            <p>ราคา : {{estate.price}} บาท</p>
            <p>ราคา : {{estate.estateType}}</p>
            <ion-button (click)="remove(i)" color="danger">ลบ</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
