<ion-header>
  <ion-toolbar>
    <ion-title><h1>ตระกร้า</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
<h1>สินค้าของคุณ</h1>
</div>
<div>
  <ion-card>
    <img src="../../assets/img/condo3.jpeg" />
    <ion-card-content>
      <p>ราคา 13,000,000 บาท</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/img/condo2.jpeg" />
    <ion-card-content>
      <p>ราคา 20,000,000 บาท</p>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
