<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onClickChat()">
        <ion-icon name="chatbubbles" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="estate">
  <img [src]="estate.imgUrl" />

  <!-- <div *ngFor="let img of estate.imgs">
    <img [src]="img.imgUrl" />
  </div> -->
  <ion-slides [options]="slideProdOpts">
    <ion-slide background-size *ngFor="let img of estate.imgs">
      <ion-card>
        <img [src]="img.imgUrl" />
      </ion-card>
      <br />
    </ion-slide>
    <ion-slide background-size >
      <ion-card *ngIf="estate.landImg">
        <img [src]="estate.landImg" />
      </ion-card>
      <br />
      <ion-card *ngIf="estate.positionImg">
        <img [src]="estate.positionImg" />
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <h1 style="margin-top: 10px;">฿ {{estate.price}} บาท</h1>
      </ion-col>
      <ion-col size="3">
        <ion-button *ngIf="!isAddedCart"
          shape="block"
          default-button
          color="light"
          (click)="addToCart()"
          >Favorite</ion-button
        >
        <ion-button *ngIf="isAddedCart"
          shape="block"
          default-button
          color="primary"
          >Favorite</ion-button
        >
      </ion-col>
      <ion-col size="3">
        <ion-button shape="block" default-button color="light" (click)="onClickTaxCal()"
          >คำนวณ</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p style="margin-top: 10px;">{{estate.name}}</p>
      </ion-col>
      <ion-col size="12">
        <p style="margin-top: 10px;">{{estate.detail}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list lines="none">
    <ion-item>
      <ion-label position="fixed">
        เบอร์ติดต่อ
      </ion-label>
      <ion-input disabled="true" [value]="estate.tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">
        ประเภท
      </ion-label>
      <ion-input disabled="true" [value]="estate.estateType"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">
        จังหวัด
      </ion-label>
      <ion-input disabled="true" [value]="estate.province"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">
        เขต
      </ion-label>
      <ion-input disabled="true" [value]="estate.district"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">
        ไร่
      </ion-label>
      <ion-input disabled="true" [value]="estate.rai || 0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">
        งาน
      </ion-label>
      <ion-input disabled="true" [value]="estate.ngan || 0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">
        ลงประกาศแล้ว
      </ion-label>
      <ion-input
        disabled="true"
        [value]="estate.createDate | date: 'dd/MM/yyyy'"
      ></ion-input>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h3>ธนาคารสินเชื่อเพื่อที่อยู่อาศัย</h3>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-img col-6 class="center" src="./assets/icon/1.1.png" class="btn-img" (click)="presentModal('./assets/img/r1.PNG','./assets/img/r2.PNG','./assets/img/r3.PNG','./assets/img/r4.PNG')" ></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img col-6 class="center" src="./assets/icon/1.2.png" class="btn-img" (click)="presentModal('./assets/img/tana1.PNG','./assets/img/tana2.PNG','./assets/img/tana3.PNG','')" ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-img col-6 class="center" src="./assets/icon/1.3.png" class="btn-img" (click)="presentModal('./assets/img/Cimb.png','./assets/img/Cimb2.png','','')" ></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img col-6 class="center" src="./assets/icon/1.4.png" class="btn-img" (click)="presentModal('./assets/img/ayut.png','','','')" ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-img col-6 class="center" src="./assets/icon/1.5.png" class="btn-img" (click)="presentModal('./assets/img/Uob1.png','./assets/img/Uob2.png','','')" ></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img col-6 class="center" src="./assets/icon/1.6.png" class="btn-img" (click)="presentModal('./assets/img/Kbank1.png','./assets/img/Kbank2.png','./assets/img/Kbank3.png','./assets/img/Kbank4.png')" ></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div #map id="map"></div>
</ion-content>
