<ion-header>
  <ion-toolbar>
    <ion-title>
      โปรไฟล์
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list no-lines>
    <ion-item color="danger">
    <img src="/assets/icon/โปรไฟล์.png" /><ion-label>{{name}}</ion-label>
    </ion-item>

    <ion-item color="light">
      <img src="/assets/icon/settings.png" /><ion-label (click)="onClickEditProfile()">ตั้งค่าโปรไฟล์</ion-label>
    </ion-item>
    <ion-item color="light">
      <img src="/assets/icon/logo.png" /><ion-label (click)="onClickMyEstate()" >ที่ดินของฉัน</ion-label>
    </ion-item>
    <ion-item color="light">
      <img src="/assets/icon/exit.png" /><ion-label (click)="logout()">ออกจากระบบ</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
