<ion-content>

  <ion-card class="welcome-card" style="margin-top: 50%;">
    <ion-card-header>
      <ion-card-title text-center color="primary">
        <img style="height: 150px; width: 150px; margin: auto;" src="../assets/icon/favicon.png" />
      </ion-card-title>
    </ion-card-header>
    <ion-row>
      <ion-col size="12">
        <ion-button shape="full" default-button (click)="Login()" color="primary"
          >LOGIN</ion-button
        >
      </ion-col>
    </ion-row>

    <!-- Default Input " -->
  </ion-card>
  
  <!-- <ion-button expand="block" (click)="Login()">CLICK TO LOGIN</ion-button> -->
</ion-content>
