<ion-header>
  <ion-toolbar>
    <!--<ion-title>modal</ion-title>-->
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img col-12 class="center" [src]="this.urlImg1" *ngIf="this.urlImg1"></ion-img>
  <ion-img col-12 class="center" [src]="this.urlImg2" *ngIf="this.urlImg2"></ion-img>
  <ion-img col-12 class="center" [src]="this.urlImg3" *ngIf="this.urlImg3"></ion-img>
  <ion-img col-12 class="center" [src]="this.urlImg4" *ngIf="this.urlImg4"></ion-img>
</ion-content>
